h1 {
    text-align: center;
    margin: 230px 0 0 0;
    font-size: 90px;
}

h1 span:nth-child(1) {
    color:#4285f4;
}

h1 span:nth-child(2) {
    color:#ea4335;
}

h1 span:nth-child(3) {
    color:#fcc629;
}

h1 span:nth-child(4) {
    color:#4285f4;
}

h1 span:nth-child(5) {
    color:#34a853;
}

h1 span:nth-child(6) {
    color:#ea4335;
}

form {
    text-align: center;
}

input {
    width: 100%;
    max-width:584px;
    height: 44px;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    margin: 25px 0 25px 0;
    padding: 0 15px 0 15px;
}

input:focus {
    outline: none;
}

button{
    background-color: #f8f9fa;
    min-width: 54px;
    height: 36px;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    cursor: pointer;    
    font-size: 14px;
    padding: 0 16px 0 16px
}

button:focus {
    outline: 0.5px solid lightskyblue
}

button:hover {
    border: 1px solid #dfe1e5;
}